@font-face {
font-family: Open Sans;
font-style: normal;
font-weight: normal;
src: url("../fonts/OpenSans-Regular.ttf") format("opentype");
}
@font-face {
font-family: Open Sans bold;
font-style: normal;
font-weight: normal;
src: url("../fonts/OpenSans-Bold.ttf") format("opentype");
}

body {
	background: linear-gradient(to right, #2a0845, #6441A5);
    color: #fff;
    font-family: 'Open Sans', serif;
    margin:0;
    padding: 0;
    font-size: 16px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans bold';
}
nav{
	padding: 20px 0;
}
nav select {
	display: none;
}
a {
	transition: all  ease-in-out 0.4s;
}
input, button {
	background:transparent;
  	border: 1px solid #ccc;
  	padding: 12px 25px;
  	color: #fff;
  	margin:2px 0;
  	font-size: 14px;
  	width: 100%;
  	display: inline-block;
  	box-sizing: border-box;
    transition: all  ease-in-out 0.4s;
}
button {
  	border-radius: 10px;
  	border: 2px solid #fff;
  	font-weight:bold;
  	cursor: pointer;
  	padding: 15px 25px;
}
button:hover {
  	border: 2px solid #ccc;
  	background-color: rgba(255,255,255,0.2);
}
form {
	width: 400px;
	margin: auto;
}


.logo {
	font-size: 1.5em;
	display: inline-block;
	font-weight: bold;
}
.links {
	display: inline-block;
	text-decoration: none;
	list-style-type: none;
	margin:0;
	padding: 0;
	float: right;
	padding-top: 0.4em;
}
.links li {
	display: inline-block;
	margin-left: 20px;
}
.links a, .logo a {
	color: #fff;
	font-size: 1.1em;
	text-decoration: none;
}
.container {
	width: 85%;
	margin: auto;
}
.main, .signup, .login {
	text-align: center;
	padding-top: 100px;
}
.main h1, .signup h1, .login h1 {
	font-size: 3em;
}
.main p {
	font-size: 1.2em;
	width: 60%;
	text-align: center;
	margin:auto;
	line-height: 2em;
	text-shadow: 1px 1px 2px #111;
}
.main button {
	margin-top: 50px;
	width: 200px;
}
.loud {
	background: url('../img/loud.png') no-repeat;
	background-position: bottom right;
	padding-bottom: 100px;
}

.signup {
	padding-top: 10px;
}
.signup button, .login button {
	width: 100%;
}


@media(max-width:768px){
	.main, .login {
		padding-top: 50px;
	}
	.container {
		width: 90%;
	}
	.main p {
		width: 80%;
	}
	.main button {
		margin-top: 30px;
	}
}

@media(max-width:480px){
	form {
		width: 100%;
	}
	.signup input {
		width: 100%;
	}
	nav .links {
		display: none;
	}
	nav select {
		display: inline-block;
		float: right;
		height: 2em;
		background: #000;
		color: #fff;
		font-size: 0.9em;
		border: none;
		margin-top: 0.2em;
	}
	nav option {
		margin-top: 10px;
	}
	.main, .login {
		padding-top: 10px;
	}

}
